test/PHPUnit/connecteur/seda-ng/fixtures/balise_optionnel.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">
  <xsd:element name="ArchiveTransfer">
    <xsd:element fixed="2016-10-01T00:00:00.0Z" name="Date" type="udt:DateTimeType"/>
    <xsd:element fixed="TEST1" name="TransferIdentifier" type="qdt:ArchivesIDType">
      <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
      <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
    </xsd:element>
    <xsd:element name="ArchivalAgency" type="OrganizationType">
      <xsd:element fixed="ARCHIVE" name="Identification" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
      </xsd:element>
    </xsd:element>
    <xsd:element name="TransferringAgency" type="OrganizationType">
      <xsd:element fixed="VERSANT" name="Identification" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
      </xsd:element>
    </xsd:element>
    <xsd:element maxOccurs="unbounded" name="Archive" type="ArchiveType">
      <xsd:element minOccurs="0" name="ArchivalAgencyArchiveIdentifier" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:annotation>S'il n'y a pas d'annotation Pastell alors, la balise n'a pas lieu d'être</xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ArchivalAgreement" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:annotation>Ici comme il y a une annotation Pastell, la balise doit être dans le résultat. {{pastell:string:toto}}</xsd:annotation>
      </xsd:element>
      <xsd:element fixed="fra" maxOccurs="1" name="DescriptionLanguage" type="qdt:CodeLanguageType">
        <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/>
      </xsd:element>
      <xsd:element fixed="test" name="Name" type="udt:TextType">
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
        <xsd:annotation>L'attribut facultatif étant vide, il ne devrait pas apparaitre...</xsd:annotation>
      </xsd:element>
      <xsd:element name="ContentDescription" type="ContentDescriptionType">
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
        <xsd:element fixed="file" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
          <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
        </xsd:element>
        <xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType">
          <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/>
        </xsd:element>
      </xsd:element>
      <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType">
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
        <xsd:element fixed="AR039" name="Code" type="qdt:CodeAccessRestrictionType">
          <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
        </xsd:element>
        <xsd:element fixed="2016-10-01" name="StartDate" type="udt:DateType"/>
      </xsd:element>
      <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
    </xsd:element>
    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
  </xsd:element>
</xsd:schema>
