test/PHPUnit/connecteur/seda-ng/fixtures/connecteur_info.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">
        
        <xsd:element name="ArchiveTransfer">
		<xsd:element fixed="2018-06-01T00:00:00.0Z" name="Date" type="udt:DateTimeType"/>
		<xsd:element fixed="TEST_CONNECTEUR_INFO" name="TransferIdentifier" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/></xsd:element>
		<xsd:element name="ArchivalAgency" type="OrganizationType"><xsd:element name="Identification" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/><xsd:annotation>{{pastell:connecteur:id_service_archive}}</xsd:annotation></xsd:element></xsd:element>
		<xsd:element name="TransferringAgency" type="OrganizationType"><xsd:element name="Identification" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/><xsd:annotation>{{pastell:connecteurInfo:id_producteur_hors_rh}} {{pastell:connecteurInfo:id_producteur_rh}} {{pastell:flux:id_producteur}}</xsd:annotation></xsd:element></xsd:element>
		<xsd:element maxOccurs="unbounded" name="Archive" type="ArchiveType">
                        <xsd:element fixed="fra" maxOccurs="1" name="DescriptionLanguage" type="qdt:CodeLanguageType"><xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element>
                        <xsd:element fixed="TEST CONNECTEUR INFO" name="Name" type="udt:TextType"><xsd:attribute name="languageID" type="xsd:language" use="prohibited"/></xsd:element>
                        <xsd:element name="ContentDescription" type="ContentDescriptionType"><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element fixed="file" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType"><xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element><xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType"><xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element></xsd:element>
                        <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType"><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element fixed="AR038" name="Code" type="qdt:CodeAccessRestrictionType"><xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element><xsd:element fixed="2018-06-01" name="StartDate" type="udt:DateType"/></xsd:element>
		<xsd:attribute name="Id" type="xsd:ID" use="prohibited"/></xsd:element>
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/></xsd:element>

</xsd:schema>