test/PHPUnit/connecteur/seda-ng/fixtures/Profil_PES_AP_TESTCONNECT_PASTELL_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" ns="fr:gouv:culture:archivesdefrance:seda:v1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <rng:start combine="choice">
    <rng:ref name="ArchiveTransfer"/>
  </rng:start>
  <rng:define name="ArchiveTransfer">
    <rng:element name="ArchiveTransfer">
      <rng:ref name="ArchiveTransfer_N65537"/>
    </rng:element>
  </rng:define>
  <rng:define name="ArchiveTransfer_N65537">
    <rng:element name="Comment">
      <rng:ref name="Comment_N65541"/>
    </rng:element>
    <rng:element name="Date">
      <rng:data type="string"/>
    </rng:element>
    <rng:element name="TransferIdentifier">
      <rng:ref name="TransferIdentifier_N65564"/>
    </rng:element>
    <rng:element name="ArchivalAgency">
      <rng:ref name="ArchivalAgency_N65596"/>
    </rng:element>
    <rng:element name="TransferringAgency">
      <rng:ref name="TransferringAgency_N65651"/>
    </rng:element>
    <rng:element name="Archive">
      <rng:ref name="Archive_N65706"/>
    </rng:element>
  </rng:define>
  <rng:define name="ArchivalAgency_N65596">
    <rng:element name="Identification">
      <rng:ref name="Identification_N65599"/>
    </rng:element>
    <rng:element name="Name">
      <rng:ref name="Name_N65632"/>
    </rng:element>
  </rng:define>
  <rng:define name="TransferringAgency_N65651">
    <rng:element name="Identification">
      <rng:ref name="Identification_N65655"/>
    </rng:element>
    <rng:element name="Name">
      <rng:ref name="Name_N65687"/>
    </rng:element>
  </rng:define>
  <rng:define name="Archive_N65706">
    <rng:element name="ArchivalAgreement">
      <rng:ref name="ArchivalAgreement_N65710"/>
    </rng:element>
    <rng:element name="ArchivalProfile">
      <rng:ref name="ArchivalProfile_N65743"/>
    </rng:element>
    <rng:element name="DescriptionLanguage">
      <rng:ref name="DescriptionLanguage_N65777"/>
    </rng:element>
    <rng:element name="Name">
      <rng:ref name="Name_N65791"/>
    </rng:element>
    <rng:element name="OriginatingAgencyArchiveIdentifier">
      <rng:ref name="OriginatingAgencyArchiveIdentifier_N65804"/>
    </rng:element>
    <rng:element name="ContentDescription">
      <rng:ref name="ContentDescription_N65837"/>
    </rng:element>
    <rng:element name="AccessRestrictionRule">
      <rng:ref name="AccessRestrictionRule_N66301"/>
    </rng:element>
    <rng:element name="AppraisalRule">
      <rng:ref name="AppraisalRule_N66334"/>
    </rng:element>
    <rng:element name="ArchiveObject">
      <rng:ref name="ArchiveObject_N66376"/>
    </rng:element>
    <rng:element name="ArchiveObject">
      <rng:ref name="ArchiveObject_N66599"/>
    </rng:element>
  </rng:define>
  <rng:define name="ContentDescription_N65837">
    <rng:element name="Description">
      <rng:ref name="Description_N65840"/>
    </rng:element>
    <rng:element name="DescriptionLevel">
      <rng:ref name="DescriptionLevel_N65854"/>
    </rng:element>
    <rng:element name="Language">
      <rng:ref name="Language_N65867"/>
    </rng:element>
    <rng:element name="LatestDate">
      <rng:data type="string"/>
    </rng:element>
    <rng:element name="OldestDate">
      <rng:data type="string"/>
    </rng:element>
    <rng:element name="CustodialHistory">
      <rng:ref name="CustodialHistory_N65899"/>
    </rng:element>
    <rng:element name="Keyword">
      <rng:ref name="Keyword_N65922"/>
    </rng:element>
    <rng:element name="Keyword">
      <rng:ref name="Keyword_N65969"/>
    </rng:element>
    <rng:element name="Keyword">
      <rng:ref name="Keyword_N66018"/>
    </rng:element>
    <rng:element name="Keyword">
      <rng:ref name="Keyword_N66103"/>
    </rng:element>
    <rng:element name="Keyword">
      <rng:ref name="Keyword_N66188"/>
    </rng:element>
    <rng:element name="OriginatingAgency">
      <rng:ref name="OriginatingAgency_N66237"/>
    </rng:element>
  </rng:define>
  <rng:define name="CustodialHistory_N65899">
    <rng:oneOrMore>
      <rng:element name="CustodialHistoryItem">
        <rng:ref name="CustodialHistoryItem_N65903"/>
      </rng:element>
    </rng:oneOrMore>
  </rng:define>
  <rng:define name="Keyword_N65922">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N65927"/>
    </rng:element>
    <rng:element name="KeywordType">
      <rng:ref name="KeywordType_N65943"/>
    </rng:element>
  </rng:define>
  <rng:define name="Keyword_N65969">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N65974"/>
    </rng:element>
    <rng:element name="KeywordType">
      <rng:ref name="KeywordType_N65991"/>
    </rng:element>
  </rng:define>
  <rng:define name="Keyword_N66018">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N66023"/>
    </rng:element>
    <rng:element name="KeywordReference">
      <rng:ref name="KeywordReference_N66039"/>
    </rng:element>
    <rng:element name="KeywordType">
      <rng:ref name="KeywordType_N66076"/>
    </rng:element>
  </rng:define>
  <rng:define name="Keyword_N66103">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N66108"/>
    </rng:element>
    <rng:element name="KeywordReference">
      <rng:ref name="KeywordReference_N66124"/>
    </rng:element>
    <rng:element name="KeywordType">
      <rng:ref name="KeywordType_N66161"/>
    </rng:element>
  </rng:define>
  <rng:define name="Keyword_N66188">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N66193"/>
    </rng:element>
    <rng:element name="KeywordType">
      <rng:ref name="KeywordType_N66210"/>
    </rng:element>
  </rng:define>
  <rng:define name="OriginatingAgency_N66237">
    <rng:element name="Identification">
      <rng:ref name="Identification_N66243"/>
    </rng:element>
    <rng:element name="Name">
      <rng:ref name="Name_N66275"/>
    </rng:element>
  </rng:define>
  <rng:define name="AccessRestrictionRule_N66301">
    <rng:element name="Code">
      <rng:ref name="Code_N66304"/>
    </rng:element>
    <rng:element name="StartDate">
      <rng:data type="string"/>
    </rng:element>
  </rng:define>
  <rng:define name="AppraisalRule_N66334">
    <rng:element name="Code">
      <rng:ref name="Code_N66339"/>
    </rng:element>
    <rng:element name="Duration">
      <rng:value>P10Y</rng:value>
    </rng:element>
    <rng:element name="StartDate">
      <rng:data type="string"/>
    </rng:element>
  </rng:define>
  <rng:define name="ArchiveObject_N66376">
    <rng:element name="Name">
      <rng:ref name="Name_N66381"/>
    </rng:element>
    <rng:optional>
      <rng:element name="ContentDescription">
        <rng:ref name="ContentDescription_N66393"/>
      </rng:element>
    </rng:optional>
    <rng:element name="Document">
      <rng:ref name="Document_N66477"/>
    </rng:element>
  </rng:define>
  <rng:define name="ContentDescription_N66393">
    <rng:element name="Description">
      <rng:ref name="Description_N66397"/>
    </rng:element>
    <rng:element name="DescriptionLevel">
      <rng:ref name="DescriptionLevel_N66409"/>
    </rng:element>
    <rng:element name="Language">
      <rng:ref name="Language_N66422"/>
    </rng:element>
    <rng:zeroOrMore>
      <rng:element name="Keyword">
        <rng:ref name="Keyword_N66436"/>
      </rng:element>
    </rng:zeroOrMore>
  </rng:define>
  <rng:define name="Keyword_N66436">
    <rng:element name="KeywordContent">
      <rng:ref name="KeywordContent_N66441"/>
    </rng:element>
  </rng:define>
  <rng:define name="Document_N66477">
    <rng:element name="Attachment">
      <rng:ref name="Attachment_N66482"/>
    </rng:element>
    <rng:element name="Copy">
      <rng:value>false</rng:value>
    </rng:element>
    <rng:element name="Creation">
      <rng:data type="string"/>
    </rng:element>
    <rng:element name="Integrity">
      <rng:ref name="Integrity_N66533"/>
    </rng:element>
    <rng:element name="Size">
      <rng:ref name="Size_N66547"/>
    </rng:element>
    <rng:element name="Type">
      <rng:ref name="Type_N66561"/>
    </rng:element>
  </rng:define>
  <rng:define name="ArchiveObject_N66599">
    <rng:element name="Name">
      <rng:ref name="Name_N66604"/>
    </rng:element>
    <rng:element name="ContentDescription">
      <rng:ref name="ContentDescription_N66616"/>
    </rng:element>
    <rng:element name="Document">
      <rng:ref name="Document_N66654"/>
    </rng:element>
  </rng:define>
  <rng:define name="ContentDescription_N66616">
    <rng:element name="DescriptionLevel">
      <rng:ref name="DescriptionLevel_N66620"/>
    </rng:element>
    <rng:element name="Language">
      <rng:ref name="Language_N66633"/>
    </rng:element>
  </rng:define>
  <rng:define name="Document_N66654">
    <rng:element name="Attachment">
      <rng:ref name="Attachment_N66659"/>
    </rng:element>
    <rng:element name="Copy">
      <rng:value>false</rng:value>
    </rng:element>
    <rng:element name="Creation">
      <rng:data type="string"/>
    </rng:element>
    <rng:element name="Integrity">
      <rng:ref name="Integrity_N66710"/>
    </rng:element>
    <rng:element name="Language">
      <rng:ref name="Language_N66724"/>
    </rng:element>
    <rng:element name="Type">
      <rng:ref name="Type_N66738"/>
    </rng:element>
  </rng:define>
  <rng:define name="Comment_N65541">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="TransferIdentifier_N65564">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Identification_N65599">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N65632">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Identification_N65655">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N65687">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="ArchivalAgreement_N65710">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="ArchivalProfile_N65743">
    <rng:value>Profil_PES_AP_v3</rng:value>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:value>Profil de données</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:value>Adullact Projet</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="DescriptionLanguage_N65777">
    <rng:value>fra</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N65791">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="OriginatingAgencyArchiveIdentifier_N65804">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Description_N65840">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="DescriptionLevel_N65854">
    <rng:value>file</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Language_N65867">
    <rng:value>fra</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="CustodialHistoryItem_N65903">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="when">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N65927">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordType_N65943">
    <rng:value>corpname</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N65974">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordType_N65991">
    <rng:value>genreform</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N66023">
    <rng:value>comptabilité publique</rng:value>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordReference_N66039">
    <rng:value>T1-747</rng:value>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:value>Thesaurus_matiere</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:value>Service Interministériel des archives de France</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:value>version 2011</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:value>http://www.archivesdefrance.culture.gouv.fr/static/5372</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordType_N66076">
    <rng:value>subject</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N66108">
    <rng:value>pièce comptable</rng:value>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordReference_N66124">
    <rng:value>T3-160</rng:value>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:value>Liste d'autorité_Typologie documentaire</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:value>Service Interministériel des Archives de France</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:value>version 2011</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:value>http://www.archivesdefrance.culture.gouv.fr/static/5377</rng:value>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordType_N66161">
    <rng:value>genreform</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N66193">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordType_N66210">
    <rng:value>genreform</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Identification_N66243">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="schemeID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeAgencyName">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeDataURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="schemeURI">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N66275">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Code_N66304">
    <rng:value>AR048</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Code_N66339">
    <rng:value>detruire</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N66381">
    <rng:value>Fichier du PES_Aller</rng:value>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Description_N66397">
    <rng:value>Fichier dématérialisé des titres de recette, des mandats de dépense et des bordereaux récapitulatifs de flux signés électroniquement, pouvant contenir également les pièces justificatives dématérialisées.</rng:value>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="DescriptionLevel_N66409">
    <rng:value>recordgrp</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Language_N66422">
    <rng:value>fra</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="KeywordContent_N66441">
    <rng:data type="string"/>
    <rng:optional>
      <rng:attribute name="role">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Attachment_N66482">
    <rng:data type="string"/>
    <rng:attribute name="format">
      <rng:value>fmt/101</rng:value>
    </rng:attribute>
    <rng:attribute name="mimeCode">
      <rng:value>text/xml</rng:value>
    </rng:attribute>
    <rng:optional>
      <rng:attribute name="encodingCode">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="characterSetCode">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="uri">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:attribute name="filename">
      <rng:data type="string"/>
    </rng:attribute>
  </rng:define>
  <rng:define name="Integrity_N66533">
    <rng:data type="string"/>
    <rng:attribute name="algorithme">
      <rng:value>http://www.w3.org/2001/04/xmlenc#sha256</rng:value>
    </rng:attribute>
  </rng:define>
  <rng:define name="Size_N66547">
    <rng:data type="string"/>
    <rng:attribute name="unitCode">
      <rng:value>2P</rng:value>
    </rng:attribute>
  </rng:define>
  <rng:define name="Type_N66561">
    <rng:value>CDO</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Name_N66604">
    <rng:value>Acquittement du PES_Aller</rng:value>
    <rng:optional>
      <rng:attribute name="languageID">
        <rng:value>fr</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="DescriptionLevel_N66620">
    <rng:value>item</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Language_N66633">
    <rng:value>fra</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Attachment_N66659">
    <rng:data type="string"/>
    <rng:attribute name="format">
      <rng:value>fmt/101</rng:value>
    </rng:attribute>
    <rng:attribute name="mimeCode">
      <rng:value>text/xml</rng:value>
    </rng:attribute>
    <rng:optional>
      <rng:attribute name="encodingCode">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="characterSetCode">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:optional>
      <rng:attribute name="uri">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
    <rng:attribute name="filename">
      <rng:data type="string"/>
    </rng:attribute>
  </rng:define>
  <rng:define name="Integrity_N66710">
    <rng:data type="string"/>
    <rng:attribute name="algorithme">
      <rng:value>http://www.w3.org/2001/04/xmlenc#sha256</rng:value>
    </rng:attribute>
  </rng:define>
  <rng:define name="Language_N66724">
    <rng:value>fra</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:data type="string"/>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="Type_N66738">
    <rng:value>CDO</rng:value>
    <rng:optional>
      <rng:attribute name="listVersionID">
        <rng:value>edition 2009</rng:value>
      </rng:attribute>
    </rng:optional>
  </rng:define>
  <rng:define name="anyElement">
    <rng:zeroOrMore>
      <rng:element>
        <rng:anyName/>
        <rng:zeroOrMore>
          <rng:choice>
            <rng:attribute>
              <rng:anyName/>
            </rng:attribute>
            <rng:text/>
            <rng:ref name="anyElement"/>
          </rng:choice>
        </rng:zeroOrMore>
      </rng:element>
    </rng:zeroOrMore>
  </rng:define>
</rng:grammar>
