test/PHPUnit/connecteur/seda-ng/fixtures/profil_test.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:ae:archive:draft:standard_echange_v0.2" xmlns:qdt="fr:gouv:ae:archive:draft:standard_echange_v0.2:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:ae:archive:draft:standard_echange_v0.2" version="1.1">
  <xsd:element name="ArchiveTransfer">
    <xsd:element name="Date" type="udt:DateTimeType">
      <xsd:annotation>{{pastell:now}}</xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
      <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
      <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
      <xsd:annotation>{{pastell:flux:transfert_id}}</xsd:annotation>
    </xsd:element>
    <xsd:element name="TransferringAgency" type="OrganizationType">
      <xsd:element name="Identification" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:annotation>{{pastell:connecteur:service_versant}}</xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Name" type="udt:TextType">
        <xsd:attribute name="languageID" type="xsd:language" use="prohibited"/>
        <xsd:annotation>{{pastell:if:nom_service_versant}}{{pastell:connecteur:nom_service_versant}}</xsd:annotation>
      </xsd:element>
    </xsd:element>
    <xsd:element name="ArchivalAgency" type="OrganizationType">
      <xsd:element name="Identification" type="qdt:ArchivesIDType">
        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
        <xsd:annotation>{{pastell:connecteur::service_archive}}</xsd:annotation>
      </xsd:element>
    </xsd:element>
    <xsd:element maxOccurs="unbounded" name="Contains" type="ArchiveType">
      <xsd:element fixed="fr" maxOccurs="unbounded" name="DescriptionLanguage" type="qdt:CodeLanguageType">
        <xsd:attribute fixed="edition 2009" name="listVersionID" type="xsd:token" use="required"/>
      </xsd:element>
      <xsd:element fixed="file" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
        <xsd:attribute fixed="edition 2009" name="listVersionID" type="xsd:token" use="required"/>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType">
        <xsd:attribute name="languageID" type="xsd:language" use="prohibited"/>
        <xsd:annotation>{{pastell:flux:nom}}</xsd:annotation>
      </xsd:element>
      <xsd:element name="ContentDescription" type="ContentDescriptionType">
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
        <xsd:element fixed="fr" maxOccurs="unbounded" name="Language" type="qdt:CodeLanguageType">
          <xsd:attribute fixed="edition 2009" name="listVersionID" type="xsd:token" use="required"/>
        </xsd:element>
      </xsd:element>
      <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" type="DocumentType">
        <xsd:annotation>{{pastell:repeat:annexe}}</xsd:annotation>
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
        <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
          <xsd:attribute name="format" type="clmDAFFileTypeCode:FileTypeCodeType" use="prohibited"/>
          <xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="prohibited"/>
          <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="prohibited"/>
          <xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="prohibited"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="prohibited"/>
          <xsd:attribute name="filename" type="xsd:string" use="required"/>
          <xsd:annotation>{{pastell:filename:annexe}}</xsd:annotation>
        </xsd:element>
        <xsd:element fixed="CDO" name="Type" type="qdt:CodeDocumentType">
          <xsd:attribute fixed="edition 2009" name="listVersionID" type="xsd:token" use="required"/>
        </xsd:element>
      </xsd:element>
    </xsd:element>
    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
  </xsd:element>
</xsd:schema>
