test/PHPUnit/connecteur/seda-ng/fixtures/repeat_in_repeat.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">
        
        <xsd:element name="ArchiveTransfer">
		<xsd:element name="Date" type="udt:DateTimeType"><xsd:annotation>{{pastell:now}}</xsd:annotation></xsd:element>
		<xsd:element fixed="AA" name="TransferIdentifier" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/></xsd:element>
		<xsd:element name="ArchivalAgency" type="OrganizationType"><xsd:element fixed="VV" name="Identification" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/></xsd:element></xsd:element>
		<xsd:element name="TransferringAgency" type="OrganizationType"><xsd:element fixed="CC" name="Identification" type="qdt:ArchivesIDType"><xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/><xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/><xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/></xsd:element></xsd:element>
		<xsd:element maxOccurs="unbounded" name="Archive" type="ArchiveType">
                        <xsd:element fixed="yob" maxOccurs="unbounded" name="DescriptionLanguage" type="qdt:CodeLanguageType"><xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element>
                        <xsd:element fixed="AA" name="Name" type="udt:TextType"><xsd:attribute name="languageID" type="xsd:language" use="prohibited"/></xsd:element>
                        <xsd:element name="ContentDescription" type="ContentDescriptionType"><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element fixed="class" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType"><xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element><xsd:element fixed="fra" maxOccurs="unbounded" name="Language" type="qdt:CodeLanguageType"><xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element></xsd:element>
                        <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType"><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element fixed="AR038" name="Code" type="qdt:CodeAccessRestrictionType"><xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element><xsd:element fixed="2018-04-01" name="StartDate" type="udt:DateType"/></xsd:element>
		<xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element maxOccurs="unbounded" minOccurs="0" name="ArchiveObject" type="ArchiveObjectType"><xsd:annotation>{{pastell:repeat:folder}}</xsd:annotation><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element name="Name" type="udt:TextType"><xsd:attribute name="languageID" type="xsd:language" use="prohibited"/><xsd:annotation>{{pastell:array:folder}}</xsd:annotation></xsd:element><xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" type="DocumentType"><xsd:annotation>{{pastell:repeat:fichier}}</xsd:annotation><xsd:attribute name="Id" type="xsd:ID" use="prohibited"/><xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType"><xsd:attribute name="format" type="clmDAFFileTypeCode:FileTypeCodeType" use="prohibited"/><xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="prohibited"/><xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="prohibited"/><xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="prohibited"/><xsd:attribute name="uri" type="xsd:anyURI" use="prohibited"/><xsd:attribute name="filename" type="xsd:string" use="required"/><xsd:annotation>{{pastell:file:fichier}}</xsd:annotation></xsd:element><xsd:element fixed="CDO" maxOccurs="unbounded" name="Type" type="qdt:CodeDocumentType"><xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/></xsd:element></xsd:element></xsd:element></xsd:element>
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/></xsd:element>

</xsd:schema>