test/PHPUnit/connecteur/seda-ng/fixtures/test_if.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">
  <xsd:element name="ArchiveTransfer">
    <xsd:element name="Date" type="udt:DateTimeType"/>
    <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
      <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
      <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
      <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
      <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
    </xsd:element>
    <xsd:element name="ArchivalAgency" type="OrganizationType"/>
    <xsd:element name="TransferringAgency" type="OrganizationType"/>
    <xsd:element maxOccurs="unbounded" name="Archive" type="ArchiveType">
      <xsd:element maxOccurs="unbounded" name="DescriptionLanguage" type="qdt:CodeLanguageType"/>
      <xsd:element name="Name" type="udt:TextType"/>
      <xsd:element name="ContentDescription" type="ContentDescriptionType">
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
        <xsd:element name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
          <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
        </xsd:element>
        <xsd:element fixed="fra" maxOccurs="unbounded" name="Language" type="qdt:CodeLanguageType">
          <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/>
        </xsd:element>
        <xsd:element minOccurs="0" name="LatestDate" type="udt:DateType">
          <xsd:annotation>{{pastell:if:latest_date}}{{pastell:flux:latest_date}}</xsd:annotation>
        </xsd:element>
      </xsd:element>
      <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType"/>
    </xsd:element>
    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
  </xsd:element>
</xsd:schema>
