test/PHPUnit/type-dossier/sae/fixtures/test_sae.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">

    <xsd:element name="ArchiveTransfer">
        <xsd:element name="Date" type="udt:DateTimeType">
            <xsd:annotation>{{pastell:now}}</xsd:annotation>
        </xsd:element>
        <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
            <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
            <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
            <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
            <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
            <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
            <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
            <xsd:annotation>{{pastell:flux:transfert_id}}</xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchivalAgency" type="OrganizationType">
            <xsd:element name="Identification" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:annotation>{{pastell:connecteur:id_service_archive}}</xsd:annotation>
            </xsd:element>
        </xsd:element>
        <xsd:element name="TransferringAgency" type="OrganizationType">
            <xsd:element name="Identification" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:annotation>{{pastell:connecteur:id_service_versant}}</xsd:annotation>
            </xsd:element>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" name="Archive" type="ArchiveType">
            <xsd:element minOccurs="1" name="ArchivalAgreement" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:annotation>{{pastell:connecteur:accord_versement}}</xsd:annotation>
            </xsd:element>
            <xsd:element fixed="LS_PASTELL_TEST_1" minOccurs="1" name="ArchivalProfile" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="prohibited"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
            </xsd:element>
            <xsd:element fixed="fra" maxOccurs="1" name="DescriptionLanguage" type="qdt:CodeLanguageType">
                <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/>
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType">
                <xsd:attribute name="languageID" type="xsd:language" use="prohibited"/>
                <xsd:annotation>{{pastell:flux:titre}}</xsd:annotation>
            </xsd:element>
            <xsd:element name="ContentDescription" type="ContentDescriptionType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="file" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
                    <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
                <xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType">
                    <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="prohibited"/>
                        <xsd:attribute name="languageID" type="xsd:language" use="prohibited"/>
                        <xsd:annotation>{{pastell:flux:metadonne1}}</xsd:annotation>
                    </xsd:element>
                </xsd:element>
            </xsd:element>
            <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="AR038" name="Code" type="qdt:CodeAccessRestrictionType">
                    <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
                <xsd:element name="StartDate" type="udt:DateType">
                    <xsd:annotation>{{pastell:flux:date}}</xsd:annotation>
                </xsd:element>
            </xsd:element>
            <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Document" type="DocumentType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                    <xsd:attribute name="format" type="clmDAFFileTypeCode:FileTypeCodeType" use="prohibited"/>
                    <xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="prohibited"/>
                    <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="prohibited"/>
                    <xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="prohibited"/>
                    <xsd:attribute name="uri" type="xsd:anyURI" use="prohibited"/>
                    <xsd:attribute name="filename" type="xsd:string" use="optional"/>
                    <xsd:annotation>{{pastell:file:fichier}}</xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="1" name="Integrity" type="qdt:ArchivesHashcodeBinaryObjectType">
                    <xsd:attribute name="algorithme" type="xsd:string" use="required"/>
                    <xsd:annotation>{{pastell:sha256:fichier}}</xsd:annotation>
                </xsd:element>
                <xsd:element fixed="CDO" maxOccurs="1" name="Type" type="qdt:CodeDocumentType">
                    <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" type="DocumentType">
                <xsd:annotation>{{pastell:repeat:annexe}}</xsd:annotation>
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                    <xsd:attribute name="format" type="clmDAFFileTypeCode:FileTypeCodeType" use="optional"/>
                    <xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
                    <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="prohibited"/>
                    <xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="prohibited"/>
                    <xsd:attribute name="uri" type="xsd:anyURI" use="prohibited"/>
                    <xsd:attribute name="filename" type="xsd:string" use="optional"/>
                    <xsd:annotation>{{pastell:file:annexe}}</xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Size" type="qdt:MeasureType"><xsd:attribute fixed="AD" name="unitCode" type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="required"/><xsd:annotation>{{pastell:size:annexe}}</xsd:annotation></xsd:element><xsd:element fixed="CDO" maxOccurs="1" name="Type" type="qdt:CodeDocumentType">
                    <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Document" type="DocumentType">
                <xsd:annotation>{{pastell:if:journal}}</xsd:annotation>
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                    <xsd:attribute name="format" type="clmDAFFileTypeCode:FileTypeCodeType" use="optional"/>
                    <xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
                    <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="prohibited"/>
                    <xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="prohibited"/>
                    <xsd:attribute name="uri" type="xsd:anyURI" use="prohibited"/>
                    <xsd:attribute name="filename" type="xsd:string" use="optional"/>
                    <xsd:annotation>{{pastell:file:journal}}</xsd:annotation>
                </xsd:element>
                <xsd:element fixed="CDO" maxOccurs="1" name="Type" type="qdt:CodeDocumentType">
                    <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="prohibited"/>
                </xsd:element>
            </xsd:element>
        </xsd:element>
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
    </xsd:element>

</xsd:schema>