test/PHPUnit/module/helios-generique/fixtures/Profil_PES_AP_v3-3.0.4.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
            xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
            xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" attributeFormDefault="unqualified"
            elementFormDefault="qualified" targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" version="1.0">

    <xsd:element name="ArchiveTransfer">
        <xsd:element maxOccurs="1" minOccurs="1" name="Comment" type="udt:TextType">
            <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
            <xsd:annotation>"Transfert d’un flux PES issu du TDT &lt;NomTdt&gt; : &lt;NomFic&gt;" La balise &lt;NomFic&gt;
                est un identifiant unique issu directement du flux PES {{pastell:string:Transfert d’un flux PES issu du
                TDT }}{{pastell:connecteur:nom_operateur_de_teletransmission}}{{pastell:string: : }}
                {{pastell:flux:nomFic}}
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="Date" type="udt:DateTimeType">
            <xsd:annotation>Date au format ISO 8601. La date correspond à la date du transfert du TDT vers le SAE
                {{pastell:now:}}
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
            <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
            <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
            <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
            <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
            <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
            <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
            <xsd:annotation>Empreinte du fichier PES (calculée en SHA1)_Empreinte temporelle de l'identifiant
                (timestamp) {{{pastell:flux:pesAller_sha1}}{{pastell:string:_}}{{pastell:timestamp}}
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="ArchivalAgency" type="OrganizationType">
            <xsd:element name="Identification" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                <xsd:annotation>{{pastell:connecteur:id_service_archive}}</xsd:annotation>
            </xsd:element>
            <xsd:annotation>Champs définis par la collectivité elle-même. Possibilité d'ajouter toutes les balises
                prévues par le SEDA pour la description d'un acteur.
            </xsd:annotation>
            <xsd:element minOccurs="1" name="Name" type="udt:TextType">
                <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                <xsd:annotation>{{pastell:connecteur:nom_service_archive}}</xsd:annotation>
            </xsd:element>
        </xsd:element>
        <xsd:element name="TransferringAgency" type="OrganizationType">
            <xsd:annotation>Champs définis par la collectivité elle-même. Possibilité d'ajouter toutes les balises
                prévues par le SEDA pour la description d'un acteur.
            </xsd:annotation>
            <xsd:element name="Identification" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                <xsd:annotation>{{pastell:connecteur:id_service_versant}}</xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Name" type="udt:TextType">
                <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                <xsd:annotation>{{pastell:connecteur:nom_service_versant}}</xsd:annotation>
            </xsd:element>
        </xsd:element>
        <xsd:element maxOccurs="1" name="Archive" type="ArchiveType">
            <xsd:element minOccurs="1" name="ArchivalAgreement" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                <xsd:annotation>Champs définis par la collectivité elle-même. {{pastell:connecteur:accord_versement}}
                </xsd:annotation>
            </xsd:element>
            <xsd:element fixed="Profil_PES_AP_v3" minOccurs="1" name="ArchivalProfile" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                <xsd:attribute fixed="Profil de données" name="schemeName" type="xsd:string" use="required"/>
                <xsd:attribute fixed="Adullact Projet" name="schemeAgencyName" type="xsd:string" use="required"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
            </xsd:element>
            <xsd:element fixed="fra" maxOccurs="1" name="DescriptionLanguage" type="qdt:CodeLanguageType">
                <xsd:attribute default="edition 2011" fixed="edition 2009" name="listVersionID" type="xsd:token"
                               use="optional"/>
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType">
                <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                <xsd:annotation>"Flux comptable PES_Aller &lt;Domaine&gt; en date du &lt;DteStr&gt; de &lt;LibelleColBud&gt;"
                    Exemple : Flux comptable PES_Aller Recette en date du 24 mai 2016 de Mairie d'ABC
                    {{pastell:string:Flux comptable }}{{pastell:flux:Domaine}}{{pastell:string: en date du
                    }}{{pastell:flux:date_mandatement}} {{pastell:string: de }} {{pastell:flux:LibelleColBud}}
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="OriginatingAgencyArchiveIdentifier" type="qdt:ArchivesIDType">
                <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
                <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                <xsd:annotation>Contenu de la balise &lt;NomFic&gt; {{pastell:flux:nomFic}}</xsd:annotation>
            </xsd:element>
            <xsd:element name="ContentDescription" type="ContentDescriptionType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element minOccurs="1" name="Description" type="udt:TextType">
                    <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                    <xsd:annotation>Identifiant du payeur : &lt;EnTetePES.IdPost&gt; Identifiant de l'ordonnateur : &lt;EnTetePES.IdColl&gt;
                        Code du budget : &lt;EnTetePES.CodBud&gt; Domaine : récupérer le nom de la balise &lt;Domaine&gt;
                        (= "PES_DepenseAller" ou "PES_Recette_Aller" ou...) {{pastell:string:Identifiant du payeur : }}
                        {{pastell:flux:IdPost}} {{pastell:string: Identifiant de l'ordonnateur : }}
                        {{pastell:flux:IdColl}} {{pastell:string: Code du budget : }} {{pastell:flux:CodBud}}
                        {{pastell:string: Domaine : }} {{pastell:flux:Domaine}}
                    </xsd:annotation>
                </xsd:element>
                <xsd:element fixed="file" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
                    <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                   use="optional"/>
                </xsd:element>
                <xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType">
                    <xsd:attribute default="edition 2011" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                   use="optional"/>
                </xsd:element>
                <xsd:element minOccurs="1" name="LatestDate" type="udt:DateType">
                    <xsd:annotation>Date du PES AQUIT/NACK, si inexistante (flux antérieurs à 2014) date du PES_Aller.
                        {{pastell:flux:date_acquittement}}
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="1" name="OldestDate" type="udt:DateType">
                    <xsd:annotation>Date du PES ALLER {{pastell:flux:date_mandatement}}</xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="1" name="CustodialHistory" type="CustodialHistoryType">
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="CustodialHistoryItem"
                                 type="qdt:CustodialHistoryItemType">
                        <xsd:attribute name="when" type="udt:DateType" use="optional"/>
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                        <xsd:annotation>{{pastell:string:Les pièces transférées au comptable public sont intégrées au
                            flux comptable PES v2, défini par le programme Hélios, et sont versées pour archivage depuis
                            le TDT }} {{pastell:connecteur:nom_operateur_de_teletransmission}} {{pastell:string: pour le
                            compte de }} {{pastell:connecteur:nom_collectivite}} {{pastell:string:. La description a été
                            établie selon les règles du SEDA v1.0}}
                        </xsd:annotation>
                    </xsd:element>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="optional"/>
                        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
                        <xsd:annotation>Nom de la collectivite tel que renseigne sur le TDT
                            {{pastell:connecteur:nom_collectivite}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="KeywordReference" type="qdt:ArchivesIDType">
                        <xsd:attribute name="schemeID" type="xsd:token" use="prohibited"/>
                        <xsd:attribute fixed="SIRENE" name="schemeName" type="xsd:string" use="required"/>
                        <xsd:attribute fixed="INSEE" name="schemeAgencyName" type="xsd:string" use="required"/>
                        <xsd:attribute name="schemeVersionID" type="xsd:token" use="prohibited"/>
                        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="prohibited"/>
                        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="prohibited"/>
                        <xsd:annotation>{{pastell:connecteur:siren_collectivite}}</xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="corpname" maxOccurs="1" minOccurs="1" name="KeywordType"
                                 type="qdt:CodeKeywordType">
                        <xsd:attribute default="edition 2009" name="listVersionID" type="xsd:token" use="optional"/>
                    </xsd:element>
                    <xsd:annotation>Nom de la collectivité</xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                        <xsd:annotation>Récupérer le nom de la balise &lt;Domaine&gt; ("PES_DepenseAller" ou
                            "PES_Recette_Aller" ou...) {{pastell:flux:Domaine}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="genreform" maxOccurs="1" minOccurs="1" name="KeywordType"
                                 type="qdt:CodeKeywordType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                    <xsd:annotation>Domaine</xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element fixed="comptabilité publique" name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="required"/>
                    </xsd:element>
                    <xsd:element fixed="67717/T1-747" maxOccurs="1" minOccurs="1" name="KeywordReference"
                                 type="qdt:ArchivesIDType">
                        <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="Thesaurus_matiere" name="schemeName" type="xsd:string" use="required"/>
                        <xsd:attribute fixed="Service Interministériel des archives de France" name="schemeAgencyName"
                                       type="xsd:string" use="required"/>
                        <xsd:attribute fixed="version 2011" name="schemeVersionID" type="xsd:token" use="required"/>
                        <xsd:attribute fixed="http://www.archivesdefrance.culture.gouv.fr/static/5372"
                                       name="schemeDataURI" type="xsd:anyURI" use="required"/>
                        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                    </xsd:element>
                    <xsd:element fixed="subject" maxOccurs="1" minOccurs="1" name="KeywordType"
                                 type="qdt:CodeKeywordType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="required"/>
                    </xsd:element>
                    <xsd:annotation>comptabilité publique</xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element fixed="pièce comptable" name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="required"/>
                    </xsd:element>
                    <xsd:element fixed="67717/T3-160" maxOccurs="1" minOccurs="1" name="KeywordReference"
                                 type="qdt:ArchivesIDType">
                        <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="Liste d'autorité_Typologie documentaire" name="schemeName"
                                       type="xsd:string" use="required"/>
                        <xsd:attribute fixed="Service Interministériel des Archives de France" name="schemeAgencyName"
                                       type="xsd:string" use="required"/>
                        <xsd:attribute fixed="version 2011" name="schemeVersionID" type="xsd:token" use="required"/>
                        <xsd:attribute fixed="http://www.archivesdefrance.culture.gouv.fr/static/5377"
                                       name="schemeDataURI" type="xsd:anyURI" use="required"/>
                        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                    </xsd:element>
                    <xsd:element fixed="genreform" maxOccurs="1" minOccurs="1" name="KeywordType"
                                 type="qdt:CodeKeywordType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="required"/>
                    </xsd:element>
                    <xsd:annotation>pièce comptable</xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Keyword" type="KeywordType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="KeywordContent" type="qdt:KeywordContentType">
                        <xsd:attribute name="role" type="xsd:token" use="optional"/>
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                        <xsd:annotation>Code la collectivité et code budget fusionnés {{pastell:flux:CodcolCodbud}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="genreform" maxOccurs="1" minOccurs="1" name="KeywordType"
                                 type="qdt:CodeKeywordType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                    <xsd:annotation>code la collectivité et code budget fusionnés</xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="OriginatingAgency" type="OrganizationType">
                    <xsd:annotation>Champs définis par la collectivité elle-même. Possibilité d'ajouter toutes les
                        balises prévues par le SEDA pour la description d'un acteur.
                    </xsd:annotation>
                    <xsd:element name="Identification" type="qdt:ArchivesIDType">
                        <xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
                        <xsd:attribute name="schemeName" type="xsd:string" use="optional"/>
                        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional"/>
                        <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
                        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
                        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
                        <xsd:annotation>{{pastell:connecteur:id_producteur}}</xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" name="Name" type="udt:TextType">
                        <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                        <xsd:annotation>{{pastell:connecteur:nom_producteur}}</xsd:annotation>
                    </xsd:element>
                </xsd:element>
            </xsd:element>
            <xsd:element name="AccessRestrictionRule" type="AccessRestrictionRuleType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="AR048" name="Code" type="qdt:CodeAccessRestrictionType">
                    <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                   use="required"/>
                    <xsd:annotation>Documents dont la communication porte atteinte à la protection de la vie privée ou
                        portant appréciation ou jugement de valeur sur une personne physique nommément désignée ou
                        facilement identifiable ou faisant apparaître le comportement d'une personne dans des conditions
                        susceptibles de lui porter préjudice (Code du Patrimoine, art. L. 213-2, I, 3)
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="udt:DateType">
                    <xsd:annotation>Date du PES AQUIT/NACK, si inexistante (flux antérieurs à 2014) date du PES_Aller.
                        Date au format ISO 8601. {{pastell:flux:start_date}}
                    </xsd:annotation>
                </xsd:element>
            </xsd:element>
            <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="AppraisalRule" type="AppraisalRuleType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="detruire" name="Code" type="qdt:CodeAppraisalType">
                    <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                   use="required"/>
                </xsd:element>
                <xsd:element fixed="P10Y" name="Duration" type="qdt:ArchivesDurationType">
                    <xsd:annotation>Cf. Instruction DAF/DPACI/RES/2008/008 du 5 mai 2008 : DUA des documents comptables
                        détenus par les ordonnateurs.
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StartDate" type="udt:DateType">
                    <xsd:annotation>Date du PES AQUIT/NACK, si inexistante (flux antérieurs à 2014) date du PES_Aller.
                        Date au format ISO 8601. {{pastell:flux:start_date}}
                    </xsd:annotation>
                </xsd:element>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="ArchiveObject" type="ArchiveObjectType">
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="Fichier du PES_Aller" name="Name" type="udt:TextType">
                    <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                </xsd:element>
                <xsd:annotation>Fichier du PES_Aller</xsd:annotation>
                <xsd:element minOccurs="1" name="ContentDescription" type="ContentDescriptionType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element
                            fixed="Fichier dématérialisé des titres de recette, des mandats de dépense et des bordereaux récapitulatifs de flux signés électroniquement, pouvant contenir également les pièces justificatives dématérialisées."
                            minOccurs="1" name="Description" type="udt:TextType">
                        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
                    </xsd:element>
                    <xsd:element fixed="recordgrp" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="required"/>
                    </xsd:element>
                    <xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType">
                        <xsd:attribute default="edition 2011" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="required"/>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Keyword" type="KeywordType">
                        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                        <xsd:element name="KeywordContent" type="qdt:KeywordContentType">
                            <xsd:attribute name="role" type="xsd:token" use="optional"/>
                            <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="required"/>
                            <xsd:annotation>Sous la forme &lt;IdBord 908&gt; ou &lt;IdPce 15496&gt;
                                {{pastell:array:IdBord_IdPce}}
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:annotation>Sont repris en mots-clés l'ensemble des identifiants de bordereau et des
                            identifiants de pièces (respectivement sous la forme : &lt;IdBord 908&gt; ou &lt;IdPce 15496&gt;)
                            {{pastell:repeat:IdBord_IdPce}}
                        </xsd:annotation>
                    </xsd:element>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Document" type="DocumentType">
                    <xsd:annotation>Fichier PES_Aller</xsd:annotation>
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                        <xsd:attribute fixed="fmt/101" name="format" type="clmDAFFileTypeCode:FileTypeCodeType"
                                       use="required"/>
                        <xsd:attribute fixed="application/xml" name="mimeCode"
                                       type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="required"/>
                        <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType"
                                       use="optional"/>
                        <xsd:attribute name="characterSetCode"
                                       type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
                        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
                        <xsd:attribute name="filename" type="xsd:string" use="required"/>
                        <xsd:annotation>Nom du fichier PES_Aller dans l'attribut &lt;FileName&gt; uniquement
                            {{pastell:file:fichier_pes_signe}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="false" minOccurs="1" name="Copy" type="udt:IndicatorType"/>
                    <xsd:element minOccurs="1" name="Creation" type="udt:DateTimeType">
                        <xsd:annotation>Date de génération du flux PES de la balise &lt;DteStr&gt;. Date au format ISO
                            8601 {{pastell:flux:date_mandatement_iso_8601}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" name="Integrity" type="qdt:ArchivesHashcodeBinaryObjectType">
                        <xsd:attribute fixed="http://www.w3.org/2001/04/xmlenc#sha256" name="algorithme"
                                       type="xsd:string" use="required"/>
                        <xsd:annotation>{{pastell:sha256:fichier_pes_signe}}</xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" name="Size" type="qdt:MeasureType">
                        <xsd:attribute fixed="AD" name="unitCode"
                                       type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="required"/>
                        <xsd:annotation>Taille du fichier joint en ko {{pastell:flux:pes_aller_size_in_byte}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="CDO" maxOccurs="1" name="Type" type="qdt:CodeDocumentType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                </xsd:element>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="ArchiveObject" type="ArchiveObjectType">
                <xsd:annotation>Acquittement du PES_Aller</xsd:annotation>
                <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                <xsd:element fixed="Acquittement du PES_Aller" name="Name" type="udt:TextType">
                    <xsd:attribute fixed="fr" name="languageID" type="xsd:language" use="optional"/>
                </xsd:element>
                <xsd:element minOccurs="1" name="ContentDescription" type="ContentDescriptionType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element fixed="item" name="DescriptionLevel" type="qdt:CodeDescriptionLevelType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                    <xsd:element fixed="fra" maxOccurs="1" name="Language" type="qdt:CodeLanguageType">
                        <xsd:attribute default="edition 2011" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Document" type="DocumentType">
                    <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
                    <xsd:element name="Attachment" type="qdt:ArchivesBinaryObjectType">
                        <xsd:attribute fixed="fmt/101" name="format" type="clmDAFFileTypeCode:FileTypeCodeType"
                                       use="required"/>
                        <xsd:attribute fixed="application/xml" name="mimeCode"
                                       type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="required"/>
                        <xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType"
                                       use="optional"/>
                        <xsd:attribute name="characterSetCode"
                                       type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
                        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
                        <xsd:attribute name="filename" type="xsd:string" use="required"/>
                        <xsd:annotation>Nom du fichier PES_Acquit dans l'attribut &lt;FileName&gt; uniquement
                            {{pastell:file:fichier_reponse}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="false" minOccurs="1" name="Copy" type="udt:IndicatorType"/>
                    <xsd:element minOccurs="0" name="Creation" type="udt:DateTimeType">
                        <xsd:annotation>Date de génération de l'accusé de réception ou de l'accusé de non-réception &lt;DteStr&gt;
                            du fichier d'acquittement. Date au format ISO 8601 {{pastell:flux:date_ack_iso_8601}}
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" name="Integrity" type="qdt:ArchivesHashcodeBinaryObjectType">
                        <xsd:attribute fixed="http://www.w3.org/2001/04/xmlenc#sha256" name="algorithme"
                                       type="xsd:string" use="required"/>
                        <xsd:annotation>{{pastell:sha256:fichier_reponse}}</xsd:annotation>
                    </xsd:element>
                    <xsd:element fixed="fra" maxOccurs="1" minOccurs="1" name="Language" type="qdt:CodeLanguageType">
                        <xsd:attribute default="edition 2011" name="listVersionID" type="xsd:token" use="optional"/>
                    </xsd:element>
                    <xsd:element fixed="CDO" maxOccurs="1" name="Type" type="qdt:CodeDocumentType">
                        <xsd:attribute default="edition 2009" fixed="edition 2009" name="listVersionID" type="xsd:token"
                                       use="optional"/>
                    </xsd:element>
                    <xsd:annotation>Fichier PES_Acquit</xsd:annotation>
                </xsd:element>
            </xsd:element>
            <xsd:annotation>Flux comptable PES_Aller</xsd:annotation>
        </xsd:element>
        <xsd:attribute name="Id" type="xsd:ID" use="prohibited"/>
    </xsd:element>

</xsd:schema>